/*MEDIA QUERIES*/


/* Small Devices, Tablets */

@media only screen and (max-width: 992px) {
    .menu{display: none;border-bottom: thin solid #eee;background-color: #f1f1f1;}
    .menu li{text-align: center;padding: 30px 0px;float: none;}
}

@media only screen and (max-width: 992px) {
  .menu{display:none;}
}


/* Medium Devices, Desktops */

@media only screen and (min-width: 992px) {
  .menu{display:block;}
  .menu li {
    margin-right: 5.3%;
  }
}


/* Large Devices, Wide Screens */

@media only screen and (min-width: 1200px) {
  .menu li {
    margin-right: 8.5%;
  }
}
